# حجب قاعدة البيانات (عشان ما ترفع الـ IPs والباسوردات اللي جربت فيها)
attacks.db

# حجب البيئة الافتراضية بالكامل
venv/
.venv/

# حجب ملفات البايثون المؤقتة
__pycache__/
*.pyc

# حجب ملفات النظام المخفية
.DS_Store
Thumbs.db
